*{
    margin: 0;
    padding: 0 0 0 0;
}
body{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color:#e3dfdf9e;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: oldlace;
    background-attachment: fixed;
    display: flex ;
    align-items: center;
    margin: 0px;
}
.navbar .logo{
    float: left;
    margin-left: 4px;
    font-family: 'Spectral', serif;
    font-size: 25px;
    color:#f220c1 ;
    font-weight: bolder;
    cursor: pointer;

}
.navbar  ul {
    display: flex;
    margin-left: 50px;
}
.navbar ul li{
    margin: 29px;
    list-style: none;
    font-size: medium;
}
.navbar ul li:hover{
    transform: scaleX(0.9);
    color: #f220c1;
    cursor: pointer;
}
.popup{
    margin-top: 70px;
    position: absolute;
    top: 100;
    display: none;
    width: 170px;
    height: 200px;
    background-color:#f220c13b;
    border-radius: 10px;
    backdrop-filter: blur(30);
}
.popup li{
    display: flex;
    color: white;
    text-align: center;
    
    
}
.navbar ul li:first-child:hover + .popup{
    display: block;


}
.input{
    width: 100px;
    height: 30px;
    background: #f220c1;
    border-radius: 10px;
    align-content: center;
    margin-left: 180px;
    cursor: pointer;
}
.navbar .input .test a{
    display: flex;
    color: aliceblue;
    align-self: center;
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    
}
.main{
    width: 100%;
    height: 80vh;
    background:linear-gradient(to top ,rgba(255, 255, 255, 0.275),rgba(255, 255, 255, 0.44)) ,url(pexels-evie-shaffer-3014451.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flexbox;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}
 .main-content{
    padding-top: 200px;
    display: flexbox;
    align-items: center;

} .main-content h3{
    margin: 40px;
    font-family: 'Spectral', serif;
}
.card{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:20px 0px 0px 80px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card-box{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;
    overflow: hidden;

}
img{
    width: 270px;
    height: 253px;
    margin: 0px -100px 0px -20px;   
}
.img-box{
    overflow: hidden;
}
.card2{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:20px 0px 0px 350px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card2::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box2{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;

}
.card3{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:20px 0px 0px 650px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card3::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box3{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;
}
.card4{
    position: absolute;
    display: flex;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:20px 0px 0px 920px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card4::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box4{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;
}
.card5{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:300px 0px 0px 80px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card5::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card-box5{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;

}
.card5 .card-box5 .img-box img{
    width: 250px;
}
.card4 .card-box4 .img-box img{
    width: 245px;
    padding-left: 10px;
}
.card .card-box .img-box img{
    width: 238px;
    padding-left: 10px;
}
.card6{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:300px 0px 0px 350px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card6::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box6{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;

}
.card6 .card-box6 .img-box img{
 margin-top: 2px;
 overflow: hidden;
}
.card7{
    position: absolute;
    display: flexbox;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:300px 0px 0px 650px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card7::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box7{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;
}
.card7 .card-box7 .img-box img{
    width: 245px;
    height: 255px;
}
.card8{
    position: absolute;
    display: flex;
    width: 220px;
    height: 260px;
    overflow: hidden;
    margin:300px 0px 0px 920px ;
    border-radius: 10px;
    background-color:rgba(18, 16, 16, 0.471);
    
}
.card8::before{
    content: '';
    width: 150px;
    height: 20vh;
    position: absolute;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#f90add,#ff459f);
    animation:animate 1s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.card-box8{
    position:absolute;
    width: 215px;
    height: 255px;
    inset: 3px;
    border-radius: 8px;
    background: white;
    z-index: 10;
}
.footer{
    margin-top: 650px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width:100%;
    height: 60vh;
    background:#f588e8;
    backdrop-filter:opacity(20px);
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
}
.footer ul{
    display: block;
    text-align: center;
}
.footer ul li {
    list-style: none;
    margin: 20px;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}
.contact-box{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}